{%- if section.settings.color_scheme == 'background-1' -%}
  <hr class="border-gray-300 my-4">
{%- endif -%}
<div class="password__footer flex justify-center {{ section.settings.color_scheme | replace: 'background-', 'bg-' }} gradient py-6">
  {% capture shopify %}
    <a class="shopify-link hidden items-end space-x-2 text-gray-700 hover:text-gray-900 transition" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-shopify " viewBox="0 0 150 43" version="1.1" aria-hidden="true">
        <title>Shopify logo</title>
        <path fill="currentColor" d="M33.3,8.9 C33.3,8.9 33.3,8.7 33.2,8.6 ... Z"/>
        <path fill="currentColor" d="M45.3,29.6 C46.2,30.1 47.8,30.7 49.4,30.7 ... Z"/>
      </svg>
      <span class="shopify-name text-lg font-semibold">Shopify</span>
    </a>
  {% endcapture %}

  <small class="password__footer-caption  hidden text-sm text-gray-600">
    {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
  </small>
  <small class="password__footer-login flex text-sm text-gray-600">
    {{- 'general.password_page.admin_link_html' | t -}}
  </small>
</div>

{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "settings": []
}
{% endschema %}
